:root {
  --main-bg-color: #fff;
  --color-one: #757575;
  --color-two: #212121;
  --color-three: #2196f3;
  --color-four: #2f303a;
  --color-five: #000;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-one);
  background-color: var(--main-bg-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-five);
}

.logo-web {
  color: var(--color-three);
  width: 145px;
  border: 1px solid transparent;
}

.top-nav {
  display: flex;
}

.top-nav list .nav-link {
  color: var(--color-two);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.top-nav li {
  margin-right: 50px;
}

.top-nav li:last-child {
  margin-right: 0;
}

.current-page {
  color: var(--color-three);
}

.top-nav a:hover,
.top-nav a:focus {
  color: var(--color-three);
}

.header-contacts li {
  display: flex;
}

.header-contacts a {
  color: var(--color-one);
  font-weight: 500;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--color-three);
}

.hero {
  margin-bottom: 0;
  background-color: var(--color-four);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.advantages-text {
  margin-bottom: 118px;
  line-height: 1.7;
}

.hero button {
  background-color: var(--color-three);
  color: var(--main-bg-color);
  cursor: pointer;
  min-width: 216px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 32px;
}

.advantages {
  background-color: var(--main-bg-color);
}

.advantages h1 {
  display: none;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-two);
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 118px;
}

. .advantages p {
  line-height: 1.7;
}

.our-activities {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.our-activities-title {
  padding-top: 118px;
  padding-bottom: 50px;
  color: var(--color-two);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-two);

  outline: auto;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-two);
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-one);
}

.footer {
  background-color: var(--color-four);
}

.footer .logo {
  color: var(--main-bg-color);
}

.footer-adress {
  font-style: normal;
  line-height: 1.7;
  color: var(--main-bg-color);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--color-three);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--color-three);
}

/* друга сторінка сайту */

.work h1 {
  display: none;
}

.filters-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-two);
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--main-bg-color);
  background-color: var(--color-three);
}

.current-filter {
  color: var(--main-bg-color);
  background-color: var(--color-three);
}

.filters-button-usi {
  min-width: 73px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  padding: 6px 25px;
}

.filters-button-web-sits {
  min-width: 125px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
  text-align: center;
}

.filters-button-dodatki {
  min-width: 112px;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}

.filters-button-design {
  min-width: 103px;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}

.filters-button-marketing {
  min-width: 130px;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}

.gallery-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-two);
}

.gallery-item-desc {
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-one);
}
